@font-face {
    font-family: "PTSans";
    src: url("/static/PTSans-Regular.ttf") format("truetype");
}

:root {
    --color-background: rgba(108, 117, 125, 0.1);
    --color-text: black;
    --color-mark: lightgreen;

    --color-navbar-background: rgb(33, 37, 41);
    --color-navbar-active: rgb(10, 88, 202);
    --color-navbar-text: rgba(255, 255, 255, 0.9);

    --color-widget-background: rgb(248, 249, 250);
    --color-widget-border: rgb(222, 226, 230);
    --color-widget-title: rgb(10, 88, 202);
}

[data-theme="dark"] {
    --color-background: rgb(46, 51, 56);
    --color-text: white;
    --color-mark: lightgreen;

    --color-navbar-background: rgb(33, 37, 41);
    --color-navbar-active: rgb(10, 88, 202);
    --color-navbar-text: rgba(255, 255, 255, 0.9);

    --color-widget-background: rgb(33, 37, 41);
    --color-widget-border: rgb(56, 63, 70);
    --color-widget-title: rgb(10, 88, 202);
}


body {
    font-family: "PTSans", sans-serif;
    font-size: 1rem;
    background-color: var(--color-background);
    color: var(--color-text);
    margin: 0;
    padding: 0;
}

mark {
    background-color: var(--color-mark);
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-navbar-background);
}

.navbar-brand {
    padding: 0px;
    margin: 0;
    height: 3rem;
}

.navbar-brand > img {
    height: 3rem;
}

.navbar-menu {
    display: flex;
    list-style: none;
    font-size: 0.9rem;
    line-height: 1rem;
    margin: 0;
}

.navbar-menu-item {
    text-transform: uppercase;
    padding: 1rem;
}

.navbar-menu > .active {
    background-color: var(--color-navbar-active);
}

.navbar-menu-item > a {
    text-decoration: none;
    color: var(--color-navbar-text);
}

.container {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
}

.widget {
    width: calc(100% - 0.5rem);
    margin: 0.25rem;
}

@media(min-width:600px){
    .widget {
        width: calc(50% - 0.5rem);
        margin: 0.25rem;
    }
}

@media(min-width:900px){
    .widget {
        width: calc(100%/3 - 0.5rem);
        margin: 0.25rem;
    }
}

.widget-inner {
    padding: 0.5rem;
    height: calc(100% - 1rem);
    background-color: var(--color-widget-background);
    border: 1px solid var(--color-widget-border);
    border-radius: 5px;
}

.widget-title {
    display: block;
    text-align: center;
    margin-bottom: 0.5rem;
}

.widget-title > a {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-widget-title);
}

.post {
    display: inherit;
    border-bottom: 1px solid var(--color-widget-border);
}

.post-summary {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inherit;
    line-height: 1.2rem;
}

.post-details {
    display: none;
    padding: 0.5rem;
}

.post-date {
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono",monospace;;
    text-decoration: none;
    color: gray;
    font-size: 0.8rem;
}

.post-fresh {
    color: green;
}

.post-details > img {
    width: 100%;
}

