<!doctype html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/style.css" rel="stylesheet" type="text/css" media="all">
    <script type="text/javascript" src="/static/popup.js"></script>
    <link rel="apple-touch-icon" href="/static/logo.png" type="image/png">
    <link rel="icon" href="/static/logo.svg" type="image/svg+xml">
    <link rel="icon" href="/static/logo.png" type="image/png">
    <title>{{title}}</title>
</head>

<body>
    <nav class="navbar">
        <a class="navbar-brand" href="/"><img src="/static/logo.png" alt="logo"></a>
        <ul class="navbar-menu">
            {% for page in pages %}
            <li class="navbar-menu-item {% if page_slug == page.slug %}active{% endif %}">
                <a href="/p/{{page.slug}}">{{page.title}}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>
    <div class="popup" id="popup"></div>
    <div class="container">
        {% for widget in widgets %}
        <div class="widget">
            <div class="widget-inner">
                <a href="{{widget.link}}" class="widget-title">{{widget.heading|safe}}</a>
                {% for post in widget.posts %}
                <span class="post-summary" data-post="{{post.html}}" onmouseover="show_popup(this)" onmouseout="hide_popup(this)" onclick="show_popup(this)">
                    <a class="post-date {% if post.is_fresh %}post-fresh{% endif %}" href="{{post.link}}">{{post.date}}</a>
                    {{post.summary|safe}}
                    <div></div>
                </span>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(89156690, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/89156690" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</body>

</html>
